#project {

  header{

  }

}

ul#project-images {

  position: relative;
  .clearfix;

  li {
    .mixin-column-layout();
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    height: 30em;
  }

}
